@charset "UTF-8";

/* @mixin font($fw: 900){
    font-family: 'Lato';
    font-weight: $fw;
 } */

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

.main-title {
  margin-top: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  color: #1C3554;
  text-align: center;
  margin-bottom: 55px;
}

.mr-top {
  margin-top: 25px;
}

.main-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 48px;
}

.main-categories__item {
  margin: 0 12px;
  border-radius: 8px;
  background: #FFFFFF;
  border: 1px solid #0FBFF0;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  overflow: hidden;
}

.main-categories__item:hover a {
  color: #fff;
  background: #0FBFF0;
}

.main-categories__link {
  display: inline-block;
  padding: 12px 30px;
  color: #AAAAAA;
  font-size: 16px;
}

.main-categories__link_active {
  color: #fff;
  background: #0FBFF0;
}

.top-teachers,
.filters_and_teachers,
.other_courses {
  padding-bottom: 40px;
}

.top-teachers .container,
.filters_and_teachers .container,
.other_courses .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.teacher_card {
  padding: 10px;
  border-radius: 20px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.teacher_card:hover {
  -webkit-box-shadow: 5px 5px 13px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 13px 1px rgba(0, 0, 0, 0.5);
}

.teacher_card__link {
  position: relative;
}

.teacher_card__block {
  margin-bottom: 25px;
}

.teacher_card__block img {
  border-radius: 15px;
  width: 100%;
  height: 176px;
}

.teacher_card__bg {
  background: rgba(140, 50, 19, 0.06);
  border-radius: 20px;
  padding: 10px;
}

.teacher_card__course-name {
  text-align: center;
  padding: 6px 24px;
  width: 80%;
  position: absolute;
  background: #4586D6;
  border-radius: 8px;
  font-size: 13px;
  color: #fff;
  bottom: -5%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

.teacher_card__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-transform: capitalize;
  color: #1C3554;
}

.teacher_card__likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 110px;
  margin-bottom: 15px;
}

.teacher_card__likes li {
  cursor: pointer !important;
  z-index: 250;
  color: #808080;
}

.teacher_card__likes li span {
  margin-right: 3px;
}

.teacher_card__price {
  font-size: 24px;
  color: #1C3554;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 0;
}

.teacher_card__price span {
  font-size: 14px;
}

.teacher_card__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.favorite-link .fa-bookmark {
  cursor: pointer;
  font-size: 19px;
}

.about {
  padding: 100px 0;
}

.about__img {
  width: 100%;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 50px;
}

.content-header__line {
  width: 100px;
  height: 10px;
  background: #55C8E8;
  margin-right: 50px;
}

.content-header__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  color: #1C3554;
  margin-bottom: 0;
}

.content__subtitle {
  font-size: 35px;
  line-height: 45px;
  color: #000;
  margin-bottom: 50px;
}

.content__text {
  font-size: 18px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 50px;
}

.content__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 300px;
}

.content__btn {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background: #55C8E8;
  border-radius: 8px;
  padding: 15px 25px;
  border: 1px solid transparent;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  display: inline-block;
}

.content__btn:hover {
  background: #fff;
  border-color: #55C8E8;
  color: #55C8E8;
}

.work {
  padding-bottom: 100px;
}

.filters_and_teachers {
  padding-bottom: 50px;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60%;
  margin: 0 auto 50px;
}

.filters__item {
  background: #fff;
  width: 200px;
  position: relative;
}

.filters .dropdown__toggle {
  z-index: 50;
  width: 100%;
  cursor: pointer;
  font-size: 15px;
  height: 40px;
  background: #55C8E8;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  -webkit-transition: 0s !important;
  -o-transition: 0s !important;
  transition: 0s !important;
  border-radius: 5px;
}

.filters .dropdown__toggle:hover {
  background: #fff;
  border-color: #55C8E8;
  color: #55C8E8;
}

.filters .dropdown__toggle .fa {
  margin-left: 10px;
}

.filters__price {
  width: 105px !important;
}

.filters__prices {
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.filters .dropdown-menu {
  z-index: 60;
  /*  border-top-right-radius: 20px; */
  border-top: none;
  position: absolute;
  left: 0;
  right: 0;
  background: #fff;
  display: none;
}

.filters .dropdown-menu__price {
  min-width: 105px !important;
}

.filters .dropdown__item,
.filters .dropdown__link {
  color: #000;
  font-size: 15px;
}

.pagination {
  padding-top: 20px;
  text-align: center;
  margin: 0 auto !important;
  display: block;
}

.pagination-wrap {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pagination-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0 !important;
}

.pagination-nav__item {
  width: 40px;
  height: 40px;
  background-color: #fff;
  margin: 0 5px 0;
}

.pagination-nav__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 2px solid  #00EAFF;
  border-radius: 10%;
  width: 100%;
  height: 100%;
  color: #309EEB;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.pagination-nav__link:hover {
  color: #fff;
  background-color: #00EAFF;
}

.pagination-nav__link_active {
  color: #fff;
  background-color: #00EAFF;
  /* border-color: #309EEB; */
  cursor: default;
}

.teacher-card-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.teacher-card-detail__wrap {
  border: 2px solid #fff;
  margin-right: 50px;
  border-radius: 50%;
  width: 210px;
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.teacher-card-detail__wrap::before {
  content: '🌕';
  position: absolute;
  display: block;
  z-index: 4;
  top: calc(50% - 5px);
  left: calc(50% - 113px);
  -webkit-transform-origin: 113px 5px;
  -ms-transform-origin: 113px 5px;
  transform-origin: 113px 5px;
  font-size: 13px;
  border-radius: 50%;
  opacity: 1 !important;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  -o-transition: transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  margin-top: 0 !important;
  -webkit-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
}

.teacher-card-detail__image {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1000;
}

.teacher-card-detail__title {
  margin-top: 0 !important;
  font-weight: 400 !important;
  font-size: 32px !important;
  line-height: 34px !important;
  text-transform: lowercase !important;
  margin-bottom: 20px;
}

.teacher-card-detail__likes {
  width: 150px !important;
  margin-bottom: 20px;
}

.teacher-card-detail__element {
  cursor: pointer !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.teacher-card-detail__element .fa {
  font-size: 23px;
  color: #fff;
  margin-left: 10px;
}

.teacher-card-detail__element span {
  font-weight: 500 !important;
  color: #808080 !important;
  font-size: 13px !important;
  opacity: 1 !important;
}

.teacher-card-detail__name,
.teacher-card-detail__price-of,
.teacher-card-detail__price-on {
  margin-top: 0 !important;
  font-size: 20px;
  line-height: 20px;
  opacity: 1 !important;
  margin-bottom: 20px;
}

.teacher-card-detail__price-of,
.teacher-card-detail__price-on {
  font-weight: 700 !important;
  margin-bottom: 10px;
}

.teacher-card-detail__price-of small,
.teacher-card-detail__price-on small {
  opacity: 0.7;
  font-style: italic;
}

.teacher-card-detail__price-on {
  margin-bottom: 0 !important;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.teacher-card-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 0 !important;
}

.teacher-card-links__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.teacher-card-links__icon {
  color: #fff;
}

.teacher-card-links__icon .fa {
  font-size: 25px !important;
}

.teacher-card-links__icon img {
  width: 25px;
  height: 25px;
}

.teacher-card-links__share {
  margin-right: 50px;
}

.teacher-card-links__phone {
  position: absolute;
  bottom: -210px;
  right: -5%;
  border-radius: 50%;
  -webkit-animation: animate_pulse 1.5s infinite;
  animation: animate_pulse 1.5s infinite;
}

.teacher-card-links__phone:hover {
  -webkit-animation: none;
  animation: none;
}

.teacher-card-links__phone img {
  width: 80px;
  height: 80px;
}

@-webkit-keyframes animate_pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #3C8CE7;
    box-shadow: 0 0 0 0 #3C8CE7;
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(228, 25, 49, 0);
    box-shadow: 0 0 0 10px rgba(228, 25, 49, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
    box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
  }
}

@keyframes animate_pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #3C8CE7;
    box-shadow: 0 0 0 0 #3C8CE7;
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(228, 25, 49, 0);
    box-shadow: 0 0 0 10px rgba(228, 25, 49, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
    box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
  }
}

.card-detail__title {
  color: #1C3554;
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 24px;
  font-weight: 700;
  margin-top: 0 !important;
}

.description {
  padding: 50px 0;
}

.description__wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.description__desc {
  width: 48%;
}

.description__files {
  width: 48%;
}

.description__text {
  color: #808080;
  font-size: 16px;
  line-height: 24px;
}

.description__files {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.description__files img {
  margin-bottom: 10px;
  max-width: 440px;
  max-height: 310px;
}

.description__filename {
  color: #666666;
  font-size: 20px;
}

.rules {
  padding-bottom: 50px;
}

.rules__title {
  margin-bottom: 40px;
}

.privelege {
  background: #FFF5F9;
  border-radius: 8px;
  padding: 30px;
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.privelege-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.privelege-list__item .fa {
  color: #F72585;
  font-size: 15px;
  margin-right: 10px;
  margin-top: 4px;
}

.privelege-list__item p {
  max-width: 250px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #1C3554;
}

.privelege-list-pl {
  padding-left: 5px;
}

.reviews {
  padding-bottom: 20px;
}

.reviews-block {
  width: 70%;
}

.reviews-block__title {
  font-weight: 700;
  margin-bottom: 50px;
}

.reviews-block__count {
  font-weight: 600;
  font-size: 20px;
}

.reviews-block__line {
  height: 1px;
  background: #AAAAAA;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 25px;
}

.reviews-block .review-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.reviews-block .review-info__left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.reviews-block .review-info__img {
  margin-right: 15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.reviews-block .review-info__marks {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.reviews-block .review-info__author {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  color: #1C3554;
  margin-bottom: 0;
}

.reviews-block .review-info__date {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 11px;
  color: #808080;
}

.reviews-block .review-content {
  font-size: 16px;
  line-height: 26px;
  color: #808080;
}

.reviews-block__btns {
  width: 100%;
  margin-bottom: 50px;
}

.reviews-block__btns .review-form__btn,
.reviews-block__btns .review-form__allComments {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 270px;
  background: -o-linear-gradient(315deg, #3c8ce7 0, #00eaff 100%);
  background: linear-gradient(135deg, #3c8ce7 0, #00eaff 100%);
  height: 60px;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border: none;
}

.reviews-block__btns .review-form__allComments {
  background: -o-linear-gradient(315deg, #00eaff 0, #3c8ce7 100%);
  background: linear-gradient(135deg, #00eaff 0, #3c8ce7 100%);
  max-width: 230px;
  margin-left: 30px;
}

.other_courses {
  padding-bottom: 80px;
}

.other_courses__title {
  margin-bottom: 40px;
}

.teacher-card-detail__inner {
  padding-top: 50px !important;
  padding-bottom: 65px !important;
}

.covorking__img {
  width: 100%;
}

.covorking__inner {
  padding: 30px 0 40px;
}

.covorking__title {
  margin-bottom: 50px;
}

.covorking__subtitle {
  max-width: 430px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400 !important;
}

.categories {
  padding-top: 70px;
}

.videocourse-cards {
  padding-bottom: 60px;
}

.videocourse-cards .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.videocourse-card-wrap {
  width: 23%;
  display: inline-block;
  margin: 0 10px 20px;
}

.videocourse-card {
  padding: 15px;
  display: block;
  width: 100%;
  border-radius: 15px;
}

.videocourse-card:hover {
  -webkit-box-shadow: 5px 5px 13px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 13px 1px rgba(0, 0, 0, 0.5);
}

.videocourse-card__img {
  width: 100%;
  height: 160px;
  margin-bottom: 17px;
  border-radius: 15px;
}

.videocourse-card__title {
  color: #1C3554;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  margin-bottom: 0;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 10000000;
}

.modal-videocourse {
  position: fixed;
  z-index: 100000000;
  width: 800px !important;
  background: #F1F1F1;
  border-radius: 10px;
  padding: 12px 12px 25px;
  left: 50%;
  top: -150%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.preview__video iframe {
  width: 100%;
  height: 390px;
  border-radius: 5px;
  margin-bottom: 9px;
}

.preview__name {
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.7);
}

.preview__price {
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  color: #1C3554;
}

.preview__likes {
  margin-bottom: 15px;
}

.preview__subtitle {
  color: rgba(102, 102, 102, 0.8);
  font-size: 19px;
  line-height: 20px;
}

.preview__text {
  font-size: 15px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.8);
  max-width: 380px;
}

.preview__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.preview__left,
.preview__right {
  width: 50%;
}

.preview__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.preview__buy-course {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 600;
  font-size: 17px;
  line-height: 18px;
  background: -webkit-gradient(linear, left bottom, left top, from(#4AB0D2), to(#4AB0D2));
  background: -o-linear-gradient(bottom, #4AB0D2, #4AB0D2);
  background: linear-gradient(0deg, #4AB0D2, #4AB0D2);
  border-radius: 6px;
  color: #fff;
  padding: 8px 15px;
  border: 1px solid transparent;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.preview__buy-course:hover {
  border-color: #4AB0D2;
  color: #4AB0D2;
  background: #fff;
}

#js-bootstrap-offcanvas {
  height: 20px !important;
}

.modal-manager {
  position: fixed;
  z-index: 100000000;
  width: 500px;
  background: #fff;
  border: 2px solid #CCCCCC;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  left: 50%;
  top: -100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 40px 0;
  text-align: center;
}

.modal-manager__img {
  margin-bottom: 10px;
}

.modal-manager__text {
  margin-top: 0;
  margin-bottom: 10px;
  display: block;
  color: #979797;
}

.modal-manager .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 150px;
  margin: 20px auto;
}

.modal-manager .socials__item a {
  color: #000;
}

.modal-manager .socials__item .fa {
  font-size: 25px;
}

.modal-manager__number {
  display: inline-block;
  color: #fff;
  background: #000;
  border-radius: 5px;
  padding: 8px 18px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  font-weight: 500;
}

.modal-manager__number:hover {
  border-color: #000;
  background: #fff;
  color: #000;
}

.modal-manager__exit {
  display: inline-block;
  font-size: 25px;
  color: #000;
  position: absolute;
  right: 15px;
  top: 6px;
  background: none;
  border: none;
}

.mobile_card {
  padding-top: 15px;
  display: none;
}

.mobile_card .mobile_fa {
  color: #808080;
  font-size: 18px;
}

.mobile_card__title {
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px !important;
}

.mobile_card .teacher-card-detail__likes {
  margin: 0 0 15px !important;
}

.mobile_card .teacher-card-detail__name {
  color: #000;
  font-size: 17px;
  margin-bottom: 15px;
}

.mobile_card .teacher-card-detail__price-of,
.mobile_card .teacher-card-detail__price-on {
  color: #1C3554;
}

@media (max-width: 1199.98px) {
  .teacher_card__title {
    font-size: 14px;
    line-height: 16px;
  }

  #fetures-section .fetures-place span {
    font-size: 14px;
    line-height: 19px;
  }

  .content-header {
    margin-bottom: 35px;
  }

  .content-header__line {
    height: 5px;
    width: 80px;
    margin-right: 40px;
  }

  .content-header__title {
    font-size: 35px;
    line-height: 39px;
  }

  .content__subtitle {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 35px;
  }

  .content__text {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 35px;
  }

  .content__buttons {
    width: 250px;
  }

  .content__btn {
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .filters {
    width: 72%;
  }

  .teacher-card-detail__title {
    font-size: 29px !important;
  }

  .description__text {
    font-size: 14px;
    line-height: 22px;
  }

  .privelege {
    width: 59%;
  }

  .reviews-block {
    width: 75%;
  }

  .reviews-block .review-content {
    font-size: 14px;
    line-height: 24px;
  }

  .videocourse-cards {
    padding-bottom: 40px;
  }

  .videocourse-card-wrap {
    width: 25%;
  }

  .modal-videocourse {
    width: 560px !important;
    padding: 10px 10px 14px;
  }

  .preview__video iframe {
    height: 280px;
  }

  .preview__name {
    font-size: 18px;
    line-height: 18px;
  }

  .preview__price {
    font-size: 15px;
    line-height: 15px;
  }

  .preview__likes {
    margin-bottom: 10px;
  }

  .preview__subtitle {
    font-size: 16px;
    line-height: 17px;
  }

  .preview__text {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 0;
  }

  .preview__buy-course {
    font-size: 15px;
    line-height: 16px;
    padding: 6px 12px;
  }
}

@media (max-width: 991.98px) {
  .main-title {
    margin-bottom: 35px;
    font-size: 35px;
    line-height: 38px;
  }

  .main-categories {
    margin-bottom: 30px;
  }

  .main-categories__item {
    margin: 0 8px;
    border-radius: 6px;
  }

  .main-categories__link {
    padding: 8px 20px;
    font-size: 14.5px;
  }

  .teacher_card__bg {
    padding: 0;
    background: #fff;
  }

  .teacher_card__title {
    font-size: 14px;
    line-height: 16px;
  }

  .about {
    padding: 50px 0 60px;
  }

  .about__row {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .work {
    padding-bottom: 60px;
  }

  .col__img {
    display: none;
  }

  .filters {
    width: 90%;
    margin-bottom: 30px;
  }

  .pagination {
    padding-top: 10px;
  }

  .teacher-card-detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .teacher-card-detail__wrap {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .teacher-card-detail__content {
    text-align: center;
    display: none;
  }

  .teacher-card-detail__likes {
    margin: 0 auto 20px !important;
  }

  .teacher-card-links__phone {
    -webkit-animation: none;
    animation: none;
    bottom: -350px;
  }

  .teacher-card-links__phone img {
    width: 60px;
    height: 60px;
  }

  .card-detail__title {
    font-size: 23px;
    line-height: 25px;
  }

  .description {
    padding: 25px 0;
  }

  .description__desc {
    width: 100%;
  }

  .description__files {
    display: none;
  }

  .privelege {
    width: 100%;
  }

  .reviews-block {
    width: 85%;
  }

  .reviews-block .review-content {
    line-height: 22px;
    font-size: 14px;
  }

  .covorking__img {
    display: none;
  }

  .categories {
    padding-top: 40px;
  }

  .videocourse-card-wrap {
    width: 30%;
  }

  .videocourse-card__title {
    font-size: 13px;
    line-height: 18px;
  }

  #js-bootstrap-offcanvas {
    height: 100% !important;
  }

  .teacher-card-nav {
    position: absolute;
    right: 0;
    top: -20px;
  }

  .mobile_card {
    display: block;
  }
}

@media (max-width: 767.98px) {
  .main-categories__item {
    margin: 0 6px;
    border-radius: 5px;
  }

  .main-categories__link {
    padding: 6px 16px;
    font-size: 13px;
  }

  .teacher_card__title {
    font-size: 15px;
    line-height: 17px;
  }

  .about {
    padding: 20px 0 50px;
  }

  .about__row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .content-header {
    margin-bottom: 25px;
  }

  .content-header__line {
    height: 3px;
    width: 60px;
    margin-right: 25px;
  }

  .content-header__title {
    font-size: 26px;
    line-height: 30px;
  }

  .content__subtitle {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 30px;
  }

  .content__text {
    margin-bottom: 25px;
    font-size: 13px;
    line-height: 24px;
  }

  .content__buttons {
    width: 200px;
  }

  .content__btn {
    font-size: 12px;
    padding: 7px 14px;
  }

  .filters__item {
    width: 170px;
    margin-bottom: 15px;
  }

  .filters .dropdown__item,
  .filters .dropdown__link {
    font-size: 13px;
  }

  .teacher-card-links__phone {
    bottom: -365px;
  }

  .card-detail__title {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 23px;
  }

  .reviews {
    padding-bottom: 0;
  }

  .reviews-block {
    width: 90%;
  }

  .reviews-block__title {
    font-size: 24px;
  }

  .reviews-block__count {
    font-size: 13px;
  }

  .reviews-block__line {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .reviews-block .review-info__left {
    width: 60%;
  }

  .reviews-block .review-content {
    font-size: 13px;
    line-height: 18px;
  }

  .reviews-block__btns .review-form__btn,
  .reviews-block__btns .review-form__allComments {
    width: 220px;
    height: 50px;
    font-size: 15px;
  }

  .reviews-block__btns .review-form__allComments {
    max-width: 180px;
    margin-left: 20px;
  }

  .other_courses {
    padding-bottom: 50px;
  }

  .covorking__title {
    margin-bottom: 25px;
    margin-top: 0;
    font-size: 28px !important;
  }

  .covorking__subtitle {
    font-size: 16px;
    line-height: 22px;
  }

  .videocourse-card-wrap {
    width: 40%;
  }

  .modal-videocourse {
    width: 500px !important;
    height: auto !important;
    overflow-y: scroll !important;
  }

  .preview__text {
    font-size: 12px;
  }

  .teacher-card-nav {
    top: -40px;
    right: 25px;
  }

  .mobile_card__title {
    font-size: 24px;
    line-height: 26px;
  }
}

@media (max-width: 575.98px) {
  .headline_inner .left-align h5 {
    font-size: 25px;
  }

  .headline_inner {
    padding: 10px 0 !important;
  }

  .main-categories {
    margin-bottom: 10px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .main-categories__item {
    margin: 0 5px 10px;
  }

  .top-teachers .container,
  .filters_and_teachers .container,
  .other_courses .container {
    padding: 0 !important;
  }

  .teacher_card {
    padding: 4px;
  }

  .teacher_card__block {
    margin-bottom: 20px;
  }

  .teacher_card__block img {
    height: 130px;
    border-radius: 8px;
  }

  .teacher_card__course-name {
    padding: 5px 14px;
    border-radius: 10px;
    bottom: 0;
    margin-bottom: 0;
    font-size: 11px;
  }

  .teacher_card__title {
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 5px !important;
  }

  .teacher_card__likes {
    margin-bottom: 5px;
    font-size: 14px;
    width: 90px;
  }

  .teacher_card__likes li span {
    font-size: 10px;
  }

  .teacher_card__price {
    font-size: 14px;
    line-height: 14px;
  }

  .favorite-link .fa-bookmark {
    font-size: 15px;
  }

  #fetures-section .fetures-place span {
    font-size: 11px;
    line-height: 14px;
    height: 60px;
  }

  .about {
    padding: 10px 0 40px;
  }

  .content-header {
    margin-bottom: 20px;
  }

  .content-header__line {
    height: 2px;
    width: 50px;
    margin-right: 20px;
  }

  .content-header__title {
    font-size: 20px;
    line-height: 24px;
  }

  .content__subtitle {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
  }

  .content__text {
    font-size: 13px;
    line-height: 21px;
    margin-bottom: 20px;
  }

  .work {
    padding-bottom: 40px;
  }

  .pagination-nav__item {
    width: 30px;
    height: 30px;
    margin: 0 4px 0;
  }

  .pagination-nav__link {
    font-size: 13px;
  }

  .teacher-card-links__icon .fa {
    font-size: 18px !important;
  }

  .teacher-card-links__icon img {
    width: 18px;
    height: 18px;
  }

  .teacher-card-links__share {
    margin-right: 30px !important;
  }

  .teacher-card-links__phone {
    bottom: -280px;
  }

  .teacher-card-links__phone img {
    width: 45px;
    height: 45px;
  }

  .card-detail__title {
    margin-bottom: 15px;
    font-size: 17px;
    line-height: 18px;
  }

  .description {
    padding: 20px 0 25px;
  }

  .description__text {
    font-size: 11px;
    line-height: 19px;
  }

  .privelege {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 30px 30px 10px;
  }

  .privelege-list__item p {
    font-size: 12px;
    line-height: 20px;
  }

  .privelege-list-pl {
    padding-left: 0;
  }

  .reviews-block .review-info__left {
    width: 70%;
  }

  .reviews-block .review-content {
    font-size: 11px;
    line-height: 15px;
  }

  .reviews-block__btns .review-form__btn,
  .reviews-block__btns .review-form__allComments {
    width: 130px;
    height: 40px;
    border-radius: 5px;
    font-size: 9px;
  }

  .reviews-block__btns .review-form__allComments {
    max-width: 100px;
    margin-left: 10px;
  }

  .categories {
    padding-top: 20px;
  }

  .videocourse-cards .container {
    padding: 0 !important;
  }

  .videocourse-card-wrap {
    margin: 0 4px 10px;
    width: 47%;
  }

  .videocourse-card {
    padding: 5px;
    border-radius: 8px;
  }

  .videocourse-card__img {
    margin-bottom: 12px;
    height: 120px;
    border-radius: 8px;
  }

  .videocourse-card__title {
    font-size: 11px;
    line-height: 14px;
  }

  .modal-videocourse {
    width: 280px !important;
    padding: 0 0 20px;
    border-radius: 5px;
    background: #fff;
  }

  .preview__video iframe {
    height: 200px;
    border-radius: 0;
    margin-bottom: 0;
  }

  .preview__price {
    font-size: 19px;
  }

  .preview__likes {
    margin: 0 auto 10px;
  }

  .preview__subtitle {
    text-align: left;
    padding-left: 10px;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .preview__text {
    text-align: left;
    padding-left: 10px;
    font-size: 11px;
    margin-bottom: 8px;
  }

  .preview__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .preview__left,
  .preview__right {
    width: 100%;
  }

  .preview__right {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .preview__buy-course {
    margin-left: 10px;
  }

  .modal-manager {
    width: 280px;
    padding: 20px;
  }

  .modal-manager__img {
    width: 70px;
  }

  .modal-manager small {
    font-size: 12px;
  }

  .modal-manager__text {
    font-size: 15px;
  }

  .teacher-card-nav {
    top: -20px;
    right: 0;
  }

  .mobile_card .mobile_fa {
    font-size: 14px !important;
  }

  .mobile_card__title {
    font-size: 17px !important;
    line-height: 19px !important;
    margin-bottom: 15px !important;
  }

  .mobile_card .teacher-card-detail__likes {
    margin-bottom: 10px !important;
    width: 120px !important;
  }

  .mobile_card .teacher-card-detail__name {
    font-size: 13px;
    margin-bottom: 10px;
  }

  .mobile_card .teacher-card-detail__price-of,
  .mobile_card .teacher-card-detail__price-on {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 5px;
  }
}