@import 'mixins';
@import 'var';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a,
a:hover{
    text-decoration: none;
}

.headline_inner .left-align h5{
    @include _575-block{
        font-size: 25px;
    }
}

.headline_inner{
    @include _575(padding, 10px 0 !important);
}

.main-title{
    // font-family: 'Rubik';
    margin-top: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    color: #1C3554;
    text-align: center;
    margin-bottom: 55px;
    @include _991-block{
        margin-bottom: 35px;
        font-size: 35px;
        line-height: 38px;
    }
}

.mr-top{
    margin-top: 25px;
}

.main-categories{
    @include flex;
    margin-bottom: 48px;
    @include _991(margin-bottom, 30px);
    @include _575-block{
        margin-bottom: 10px;
        flex-wrap: wrap;
    }
    &__item{
        margin: 0 12px;
        border-radius: 8px;
        background: #FFFFFF;
        border: 1px solid #0FBFF0;
        transition: 0.8s;
        overflow: hidden;
        @include _991-block{
            margin: 0 8px;
            border-radius: 6px;
        }
        @include _767-block{
            margin: 0 6px;
            border-radius: 5px;
        }
        @include _575(margin, 0 5px 10px);
        &:hover a{
            color: $white;
            background: #0FBFF0;
        }
    }
    &__link{
        display: inline-block;
        padding: 12px 30px;
        color: #AAAAAA;
        font-size: 16px;
        @include _991-block{
            padding: 8px 20px;
            font-size: 14.5px;
        }
        @include _767-block{
            padding: 6px 16px;
            font-size: 13px;
        }
        &_active{
            color: $white;
            background: #0FBFF0;
        }
    }
}

.top-teachers,
.filters_and_teachers,
.other_courses{
    padding-bottom: 40px;
    .container{
        @include flex();
        flex-wrap: wrap;
        @include _575(padding, 0 !important);
    }
    // .col-lg-3{
    //     margin-bottom: 30px;
    // }
    // .row{
    //     display: flex;
    //     align-items: center !important;
    //     justify-content: center !important;
    //     flex-wrap: wrap;
    // }
}
// .more{
//     display: block;
//     border: 1px solid transparent;
//     width: 280px;
//     height: 60px;
//     margin: 40px auto 0 !important;
//     background: #0FBFF0;
//     border-radius: 8px;
//     font-size: 16px;
//     color: $white;
//     transition: 0.6s;
//     font-weight: 600;
//     &:hover{
//         background: $white;
//         border-color: #0FBFF0;
//         color: #0FBFF0;
//     }
// }

.teacher_card{
    padding: 10px;
    @include _575(padding, 4px);
    border-radius: 20px;
    transition: 0.6s;
    &:hover{
        box-shadow: 5px 5px 13px 1px rgba(0,0,0,0.50);
    }
    &__link{
        position: relative;
    }
    &__block{
        margin-bottom: 25px;
        @include _575(margin-bottom, 20px);
        img{
            border-radius: 15px;
            width: 100%;
            height: 176px;
            @include _575-block{
                height: 130px;
                border-radius: 8px;
            }
        }
    }
    &__bg{
        background: rgba(140, 50, 19, 0.06);
        border-radius: 20px;
        padding: 10px;
        @include _991-block{
            padding: 0;
            background: $white;
        }
    }
    &__course-name{
        text-align: center;
        padding: 6px 24px; 
        width: 80%; 
        position: absolute;
        background: #4586D6;
        border-radius: 8px;
        font-size: 13px;
        color: $white;
        bottom: -5%;
        left: 50%;
        transform: translate(-50%, 50%);
        @include _575-block{
            padding: 5px 14px;
            border-radius: 10px;
            bottom: 0;
            margin-bottom: 0;
            font-size: 11px;
        }
    }
    &__title{
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        text-transform: capitalize;
        color: #1C3554;
        @include _1199-block{
            font-size: 14px;
            line-height: 16px;
        }
        @include _991-block{
            font-size: 14px;
            line-height: 16px;
        }
        @include _767-block{
            font-size: 15px;
            line-height: 17px;
        }
        @include _575-block{
            font-size: 11px;
            line-height: 15px;
            margin-bottom: 5px !important;
        }
    }
    &__likes{
        @include flex(space-between !important);
        width: 110px;
        margin-bottom: 15px;
        @include _575-block{
            margin-bottom: 5px;
            font-size: 14px;
            width: 90px;
        }
        li{
            cursor: pointer !important;
            z-index: 250;
            color: #808080;
            span{
                margin-right: 3px;
                @include _575(font-size, 10px);
            }
        }
    }
    &__price{
        font-size: 24px;
        color: #1C3554;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 0;
        span{
            font-size: 14px;
        }
        @include _575-block{
            font-size: 14px;
            line-height: 14px;
        }
    }
    &__end{
        @include flex(space-between);
    }
}

.favorite-link{
    .fa-bookmark{
        cursor: pointer;
        font-size: 19px;
        @include _575(font-size, 15px);
    }
}

#fetures-section .fetures-place span{
    @include _1199-block{
        font-size: 14px;
        line-height: 19px;
    }
    @include _575-block{
        font-size: 11px;
        line-height: 14px;
        height: 60px;
    }
}

.about{
    padding: 100px 0;
    @include _991(padding, 50px 0 60px);
    @include _767(padding, 20px 0 50px);
    @include _575(padding, 10px 0 40px);
    &__img{
        width: 100%;
    }
    &__row{
        @include flex;
        @include _991-block{
            justify-content: flex-start;
            align-items: flex-start;
        }
        @include _767-block{
            justify-content: center;
            align-items: center;
        }
    }
}

.content{
    &-header{
        @include flex(flex-start);
        margin-bottom: 50px;
        @include _1199(margin-bottom, 35px);
        @include _767(margin-bottom, 25px);
        @include _575(margin-bottom, 20px);
        &__line{
            width: 100px;
            height: 10px;
            background: #55C8E8;
            margin-right: 50px;
            @include _1199-block{
                height: 5px;
                width: 80px;
                margin-right: 40px;
            }
            @include _767-block{
                height: 3px;
                width: 60px;
                margin-right: 25px;
            }
            @include _575-block{
                height: 2px;
                width: 50px;
                margin-right: 20px;
            }
        }
        &__title{        
            font-weight: 700;
            font-size: 48px;
            line-height: 52px;
            color: #1C3554;
            margin-bottom: 0;
            @include _1199-block{
               font-size: 35px;
               line-height: 39px;
            }
            @include _767-block{
              font-size: 26px;
              line-height: 30px;
            }
            @include _575-block{
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
    &__subtitle{
        // font-family: 'Rubik';
        font-size: 35px;
        line-height: 45px;
        color: $black;
        margin-bottom: 50px;
        @include _1199-block{
            font-size: 28px;
            line-height: 38px;
            margin-bottom: 35px;
         }
         @include _767-block{
            margin-bottom: 25px;
            font-size: 20px;
            line-height: 30px;
          }
          @include _575-block{
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 20px;
        }
    }
    &__text{
        font-size: 18px;
        line-height: 30px;
        color: rgba(0, 0, 0, 0.7);
        margin-bottom: 50px;
        @include _1199-block{
            font-size: 16px;
            line-height: 27px;
            margin-bottom: 35px;
         }
         @include _767-block{
            margin-bottom: 25px;
            font-size: 13px;
            line-height: 24px;
          }
          @include _575-block{
            font-size: 13px;
            line-height: 21px;
            margin-bottom: 20px;
        }
    }
    &__buttons{
        display: flex;
        justify-content: space-between;
        width: 300px;
        @include _1199(width, 250px);
        @include _767(width, 200px);
    }
    &__btn{
        color: $white;
        font-size: 16px;
        font-weight: 600;
        background: #55C8E8;
        border-radius: 8px;
        padding: 15px 25px;
        border: 1px solid transparent;
        transition: 0.6s;
        display: inline-block;
        @include _1199-block{
            font-size: 14px;
            padding: 10px 20px;
            border-radius: 5px;
         }
         @include _767-block{
            font-size: 12px;
            padding: 7px 14px;
          }
        &:hover{
            background: $white;
            border-color: #55C8E8;
            color: #55C8E8;
        }
    }
}

.work{
    padding-bottom: 100px;
    @include _991(padding-bottom, 60px);
    @include _575(padding-bottom, 40px);
}

.col__img{
    @include _991-block{
        display: none;
    }
}

// Секция с фильтрами
.filters_and_teachers{
    padding-bottom: 50px;
}
.filters{
    @include flex(space-between);
    width: 60%;
    margin: 0 auto 50px;
    @include _1199(width, 72%);
    @include _991-block{
        width: 90%;
        margin-bottom: 30px;
    }
    // @include _767-block{
    //     flex-direction: column;
    //     align-items: flex-start;
    // }
    // margin-bottom: 50px;
    &__item{
        background: $white;
        width: 200px;
        position: relative;
        @include _767-block{
            width: 170px;
            margin-bottom: 15px;
        }
        // @include _575-block{
        //     width: 100px;
        //     margin-right: 0;
        //     margin-left: 0;
        // }
    }
    .dropdown__toggle{
        z-index: 50;
        width: 100%;
        cursor: pointer;
        font-size: 15px;
        height: 40px;
        background: #55C8E8;
        border: 1px solid transparent;
        @include flex(center);
        color: $white;
        transition: 0s !important;
        border-radius: 5px;
        &:hover{
            background: $white;
            border-color: #55C8E8;
            color: #55C8E8;
        }
        // @include _575-block{
        //     border-right: none;
        //     border-left: none;
        //     font-size: 10px;
        //     height: 30px;
        // }
        .fa{
            margin-left: 10px;
            // @include _575-block{
            //     margin-right: 3px;
            //     font-size: 10px;
            // }
        }
    }
    &__price{
        width: 105px !important;
    }
    &__prices{
        width: 220px;
        @include flex(space-between);
        // @include _767-block{
        //    flex-direction: column;
        //    justify-content: flex-start;
        //    align-items: flex-start;
        // }
    }
    .dropdown-menu{
        z-index: 60;
        /*  border-top-right-radius: 20px; */
         border-top: none;
         position: absolute;
         left: 0;
         right: 0;
         background: $white;
         display: none;
        //  li{
        //      padding: 7px;
        //  }
    }
    .dropdown-menu__price{
        min-width: 105px !important; 
    }
    .dropdown__item,
    .dropdown__link{
        color: $black;
        font-size: 15px;
        @include _767(font-size, 13px);
        // @include _575(font-size, 11px);
        // border-bottom: 1px solid gray;
    }
    
}

.pagination{
    padding-top: 20px;
    @include _991(padding-top, 10px);
    text-align: center;
    margin: 0 auto !important;
    display: block;
    &-wrap{
       justify-content: center;
    }
    
    &-nav{
       @include flex;
       margin-bottom: 0 !important;
       &__item{
          width: 40px;
          height: 40px;
          background-color: $white;
          margin: 0 5px 0;
          @include _575-block{
             width: 30px;
             height: 30px;
             margin: 0 4px 0;
          }
       }
       &__link{
          display: inline-flex;
          border: 2px solid  #00EAFF;
          border-radius: 10%;
          width: 100%;
          height: 100%;
          color: #309EEB;
          font-size: 15px;
          @include _575(font-size, 13px);
          @include flex;
          transition: 0.5s;
          &:hover{
             color: $white;
             background-color: #00EAFF;
          }
          &_active{
             color: $white;
             background-color: #00EAFF;
             /* border-color: #309EEB; */
             cursor: default;
          }
       }
    }
 }
 
 // Teacher-card-detail
 
 .teacher-card-detail{
    @include flex(flex-start, flex-start);
    @include _991-block{
        flex-direction: column;
        align-items: center;
    }
    &__wrap{
        border: 2px solid $white;
        margin-right: 50px;
        border-radius: 50%;
        width: 210px;
        height: 210px;
        @include flex;
        position: relative;
        @include _991-block{
            margin-right: 0;
            margin-bottom: 15px;
        }
        &::before {
            content: '🌕';   //
            position: absolute;
            display: block;
            z-index: 4;
            top:calc(50% - 5px);
            left:calc(50% - 113px);
            transform-origin: 113px 5px;
            font-size: 13px;
            border-radius: 50%;
            // width: 12px;
            // height: 12px;
            // background: $white;
            opacity: 1 !important;
            transition: transform 500ms ease;
            margin-top: 0 !important;
            animation: spin 10s linear infinite;
        }
    }
    &__content{
        @include _991-block{
            text-align: center;
            display: none;
        }
    }
    &__image{
        width: 80%;
        height: 80%;
        border-radius: 50%;
        overflow: hidden;
        z-index: 1000;
    }
    &__title{
        margin-top: 0 !important;
        font-weight: 400 !important;
        font-size: 32px !important;
        line-height: 34px !important;
        text-transform: lowercase !important;
        margin-bottom: 20px;
        @include _1199(font-size, 29px !important);
    }
    &__likes{
        width: 150px !important;
        margin-bottom: 20px;
        @include _991(margin, 0 auto 20px !important);
    }
    &__element{
        cursor: pointer !important;
        @include flex;
        .fa{
            font-size: 23px;
            color: $white;
            margin-left: 10px;
        }
        span{
            font-weight: 500 !important;
            color: #808080 !important;
            font-size: 13px !important;
            opacity: 1 !important;
        }
    }
    &__name,
    &__price-of,
    &__price-on{
        margin-top: 0 !important;
        font-size: 20px;
        line-height: 20px;
        opacity: 1 !important;
        margin-bottom: 20px;
    }
    &__price-of,
    &__price-on{
        font-weight: 700 !important;
        margin-bottom: 10px;
        small{
            opacity: 0.7;
            font-style: italic;
        }
    }   
    &__price-on{
        margin-bottom: 0 !important;
    }
 }
 
 @keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

 
 .teacher-card-links{
    @include flex(space-between);
    position: relative;
    padding: 0 !important;
    &__icons{
        @include flex(flex-end);
    }
    &__icon{
        color: $white;
        .fa{
            font-size: 25px !important;
            @include _575(font-size, 18px !important);
        }
        img{
            width: 25px;
            height: 25px;
            @include _575-block{
                width: 18px;
                height: 18px;
            }
        } 
    }
    &__share{
        margin-right: 50px;
        @include _575(margin-right, 30px !important);
    }
    &__phone{
        position: absolute;
        bottom: -210px;
        right: -5%;
        border-radius: 50%;
        animation: animate_pulse 1.5s infinite;
        @include _991-block{
            animation: none;
            bottom: -350px;
        }
        @include _767(bottom, -365px);
        @include _575(bottom, -280px);
        &:hover{
            animation: none;
        }
        img{
            width: 80px;
            height: 80px;
            @include _991-block{
                width: 60px;
                height: 60px;
            }
            @include _575-block{
                width: 45px;
                height: 45px;
            }
        }
    }
 }
 
@keyframes animate_pulse {
	0% {
		box-shadow: 0 0 0 0 #3C8CE7;
	}
	70% {
		box-shadow: 0 0 0 10px rgba(228, 25, 49, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
	}
}
 
 .card-detail__title{
    color: #1C3554;
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 24px;
    font-weight: 700;
    margin-top: 0 !important;
    @include _991-block{
        font-size: 23px;
        line-height: 25px;
    }
    @include _767-block{
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 23px;
    }
    @include _575-block{
        margin-bottom: 15px;
        font-size: 17px;
        line-height: 18px;
    }
 }
 
 .description{
    padding: 50px 0;
    @include _991(padding, 25px 0);
    @include _575(padding, 20px 0 25px);
    &__wrap{
       width: 100%;
       display: flex;
       align-items: flex-start;
       justify-content: space-between !important;
    }
    &__desc{
        width: 48%;
        @include _991(width, 100%);
    }
    &__files{
        width: 48%;
        @include _991-block{
            display: none;
        }
    }
    &__text{
        color: #808080;
        font-size: 16px;
        line-height: 24px;
        @include _1199-block{
            font-size: 14px;
            line-height: 22px;
        }
        @include _575-block{
            font-size: 11px;
            line-height: 19px;
        }
    }
    &__files{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      img{
        margin-bottom: 10px;
        max-width: 440px;
        max-height: 310px;
      }  
    }
    &__filename{
        color: #666666;
        font-size: 20px;
    }
 }
 
 .rules{
    padding-bottom: 50px;
    &__title{
        margin-bottom: 40px;
    }
 }
 
 .privelege{
    background: #FFF5F9;
    border-radius: 8px;
    padding: 30px;
    width: 48%;
    @include flex;
    @include _1199(width, 59%);
    @include _991(width, 100%);
    @include _575-block{
        flex-direction: column;
        padding: 30px 30px 10px;
    }
    &-list{
        &__item{
            @include flex(flex-start, flex-start);
            .fa{
                color: #F72585;
                font-size: 15px;
                margin-right: 10px;
                margin-top: 4px;
            }
            p{
                max-width: 250px;
                font-weight: 600;
                font-size: 14px;
                line-height: 22px;
                color: #1C3554;
                @include _575-block{
                 font-size: 12px;
                 line-height: 20px;
                }
            }
        }
    }
 }
 
 .privelege-list-pl{
    padding-left: 5px;
    @include _575(padding-left, 0);
 }
 
 
 // отзывы
 
 .reviews{
    padding-bottom: 20px;
    @include _767(padding-bottom, 0);
 }
 
 .reviews-block{
    width: 70%;
    @include _1199(width, 75%);
    @include _991(width, 85%);
    @include _767(width, 90%);
    &__title{
       font-weight: 700;
       margin-bottom: 50px;
       @include _767(font-size, 24px);
    }
    &__count{
       font-weight: 600;
       font-size: 20px;
       @include _767-block{
          font-size: 13px;
       }
    }
    &__line{
       height: 1px;
       background: #AAAAAA;
       width: 100%;
       margin-bottom: 25px;
       margin-top: 25px;
       @include _767-block{
          margin-bottom: 20px;
          margin-top: 20px;
       }
    }
    .review{
       &-info{
          @include flex(space-between);
          margin-bottom: 20px;
          &__left{
             width: 50%;
             @include _767(width, 60%);
             @include flex(flex-start);
             @include _575(width, 70%);
          }
          &__img{
             margin-right: 15px;
             width: 60px;
             height: 60px;
             border-radius: 50%;
             overflow: hidden;
          }
          &__marks{
             height: 60px;
             @include flex(space-evenly, flex-start);
             flex-direction: column;   
          }
          &__author{
             font-size: 18px;
             line-height: 18px;
             font-weight: 600;
             color: #1C3554;
             margin-bottom: 0;
          }
          &__date{
             margin-bottom: 0;
             font-weight: 600;
             font-size: 11px;
             color: #808080;
          }
       }
       &-content{
          font-size: 16px;
          line-height: 26px;
          color: #808080;
          @include _1199-block{
            font-size: 14px;
            line-height: 24px;
          }
          @include _991-block{
             line-height: 22px;
             font-size: 14px;
          }
          @include _767-block{
             font-size: 13px;
             line-height: 18px;
          }
          @include _575-block{
             font-size: 11px;
             line-height: 15px;
          }
       }
    }
    &__btns{
       width: 100%;
       margin-bottom: 50px;
       .review-form__btn,
       .review-form__allComments{ 
          @include flex-inline;
          width: 270px;
          background: linear-gradient(135deg,#3c8ce7 0,#00eaff 100%);
          height: 60px;
          border-radius: 7px;
          font-size: 16px;
          font-weight: 600;
          color: $white;
          border: none;
          // transition: 1s;
          // &:hover{
          //    background: linear-gradient(135deg,#00eaff 0,#3c8ce7 100%);
          // }
          @include _767-block{
             width: 220px;
             height: 50px;
             font-size: 15px;
          }
          @include _575-block{
            width: 130px;
            height: 40px;
            border-radius: 5px;
            font-size: 9px;
          }
       }
       .review-form__allComments{
          background: linear-gradient(135deg,#00eaff 0,#3c8ce7 100%);
          max-width: 230px;
          margin-left: 30px;
          @include _767-block{
             max-width: 180px;
             margin-left: 20px;
          }
          @include _575-block{
             max-width: 100px;
             margin-left: 10px;
          }
       }
    }
 }
 
 // дРугие курсы
 
 .other_courses{
    padding-bottom: 80px;
    @include _767(padding-bottom, 50px);
    &__title{
        margin-bottom: 40px;
    }
 }
 
 .teacher-card-detail__inner{
    padding-top: 50px !important;
    padding-bottom: 65px !important;
 }
 
 // COVORKING START
 
 .covorking__img{
    width: 100%;
    @include _991(display, none);
 }
 
 .covorking__inner{
    padding: 30px 0 40px;
 }
 
 .covorking__title{
    margin-bottom: 50px;
    @include _767-block{
        margin-bottom: 25px;
        margin-top: 0;
        font-size: 28px !important;
    }
}
 
 .covorking__subtitle{
    max-width: 430px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400 !important;
    @include _767-block{
        font-size: 16px;
        line-height: 22px;
    }
 }
 
 .categories{
    padding-top: 70px;
    @include _991(padding-top, 40px);
    @include _575(padding-top, 20px);
 }
 
 
 
 .videocourse-cards{
    padding-bottom: 60px;
    @include _1199(padding-bottom, 40px);
    .container{
        @include flex();
        flex-wrap: wrap;
        @include _575(padding, 0 !important);
    }
    // .row{
    //     @include _991-block{
    //         // align-items: center !important;
    //         // justify-content: center !important;
    //         @include flex;
    //         flex-wrap: wrap;
    //     }
    // }
    // .col-lg-3{
    //     margin-bottom: 30px;
    // }
 }
 
 .videocourse-card-wrap{
    width: 23%;
    display: inline-block;
    margin: 0 10px 20px;
    @include _1199(width, 25%);
    @include _991(width, 30%);
    @include _767(width, 40%);
    @include _575-block{
        margin: 0 4px 10px;
        width: 47%;
    }
 }
 
 .videocourse-card{
    &:hover{
        box-shadow: 5px 5px 13px 1px rgba(0,0,0,0.50);
    }
    padding: 15px;
    display: block;
    width: 100%;
    border-radius: 15px;
    @include _575-block{
        padding: 5px;
        border-radius: 8px;
    }
    &__img{
        width: 100%;
        height: 160px;
        margin-bottom: 17px;
        border-radius: 15px;
        @include _575-block{
            margin-bottom: 12px;
            height: 120px;
            border-radius: 8px;
        }
    }
    &__title{
        color: #1C3554;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        text-decoration: none;
        margin-bottom: 0;
        @include _991-block{
            font-size: 13px;
            line-height: 18px;
        }
        @include _575-block{
            font-size: 11px;
            line-height: 14px;
        }
    }
 }
 
 .overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);                
    display: none;
    z-index: 10000000;
  }
 
.modal-videocourse{
    position: fixed;
    z-index: 100000000;
    width: 800px !important;
    background: #F1F1F1;
    border-radius: 10px;
    padding: 12px 12px 25px;
    left: 50%;
    top: -150%;
    transform: translate(-50%, -50%);
    @include _1199-block{
        width: 560px !important;
        padding: 10px 10px 14px;
    }
    @include _767-block{
        width: 500px !important;
        height: auto !important;
        overflow-y: scroll !important;
    }
    @include _575-block{
        width: 280px !important;
        padding: 0 0 20px;
        border-radius: 5px;
        background: $white;
    }
}

.preview{
    &__video{
        iframe{
            width: 100%;
            height: 390px;
            border-radius: 5px;
            margin-bottom: 9px;
            @include _1199(height, 280px);
            @include _575-block{
               height: 200px;
               border-radius: 0;
               margin-bottom: 0;
            }
        }
    }
    &__name{
        font-weight: 400;
        font-size: 22px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.7);
        @include _1199-block{
            font-size: 18px;
            line-height: 18px;
        }
    }
    &__price{
        font-size: 17px;
        line-height: 17px;
        font-weight: 700;
        color: #1C3554;
        @include _1199-block{
            font-size: 15px;
            line-height: 15px;
        }
        @include _575(font-size, 19px);
    }
    &__likes{
        margin-bottom: 15px;
        @include _1199(margin-bottom, 10px);
        @include _575-block{
            margin: 0 auto 10px;
        }
    }
    &__subtitle{
        color: rgba(102, 102, 102, 0.8);
        font-size: 19px;
        line-height: 20px;
        @include _1199-block{
            font-size: 16px;
            line-height: 17px;
        }
        @include _575-block{
            text-align: left;
            padding-left: 10px;
            font-size: 14px;
            margin-bottom: 8px;
        }
    }
    &__text{
        font-size: 15px;
        line-height: 16px;
        color: rgba(0, 0, 0, 0.8);
        max-width: 380px;
        @include _1199-block{
            font-size: 13px;
            line-height: 15px;
            margin-bottom: 0;
        }
        @include _767(font-size, 12px);
        @include _575-block{
            text-align: left;
            padding-left: 10px;
            font-size: 11px;
            margin-bottom: 8px;
        }
    }
    &__wrap{
        display: flex;
        @include _575-block{
            @include flex;
            text-align: center;
            flex-direction: column;
        }
    }
    &__left,
    &__right{
        width: 50%;
        @include _575(width, 100%);
    }
    &__right{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @include _575-block{
            align-items: flex-start;
        }
    }    
    &__buy-course{
        display: inline-flex;     
        font-weight: 600;
        font-size: 17px;
        line-height: 18px;
        background: linear-gradient(0deg, #4AB0D2, #4AB0D2);
        border-radius: 6px;
        color: $white;
        padding: 8px 15px;
        border: 1px solid transparent;
        transition: 0.8s;
        &:hover{
            border-color:  #4AB0D2;
            color: #4AB0D2;
            background: $white;
        }
        @include _1199-block{
            font-size: 15px;
            line-height: 16px;
            padding: 6px 12px;
        }
        @include _575(margin-left, 10px);
    }
}

#js-bootstrap-offcanvas{
    height: 20px !important;
    @include _991(height, 100% !important);
}

.modal-manager{
    position: fixed;
    z-index: 100000000;
    width: 500px;
    background: $white;
    border: 2px solid #CCCCCC;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    left: 50%;
    top: -100%;
    transform: translate(-50%, -50%);
    padding: 40px 0;
    text-align: center;
    @include _575-block{
        width: 280px;
        padding: 20px;
    }
    &__img{
        margin-bottom: 10px;
        @include _575(width, 70px);
    }
    small{
        @include _575(font-size, 12px);
    }
    &__text{
       margin-top: 0;
       margin-bottom: 10px;
       display: block;
       color: #979797;
       @include _575(font-size, 15px);
    }
    .socials{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 150px;
        margin: 20px auto;
        &__item{
            a{
                color: $black;
            }
            .fa{
                font-size: 25px;
            }
        }
    }
    &__number{
        display: inline-block;
        color: $white;
        background: $black;
        border-radius: 5px;
        padding: 8px 18px;
        font-size: 14px;
        border: 1px solid transparent;
        transition: 0.8s;
        font-weight: 500;
        &:hover{
            border-color: $black;
            background: $white;
            color: $black;
        }
    }
    &__exit{
        display: inline-block;
        font-size: 25px;
        color: $black;
        position: absolute;
        right: 15px;
        top: 6px;
        background: none;
        border: none;
    }
}

// Мобильная карта

.teacher-card-nav{
    @include _991-block{
        position: absolute;
        right: 0;
        top: -20px;
    }
    @include _767-block{
        top: -40px;
        right: 25px;
    }
    @include _575-block{
        top: -20px;
        right: 0;
    }
}

.mobile_card{
    padding-top: 15px;
    display: none;
    @include _991(display, block);
    .mobile_fa{
        color: #808080;
        font-size: 18px;
        @include _575(font-size, 14px !important);
    }
    &__title{
        color: rgba(0, 0, 0, 0.7);
        font-size: 20px !important;
        @include _767-block{
            font-size: 24px;
            line-height: 26px;
        }
        @include _575-block{
            font-size: 17px !important;
            line-height: 19px !important;
            margin-bottom: 15px !important;
        }
    }
   .teacher-card-detail__likes{
    margin: 0 0 15px !important;
    @include _575-block{
        margin-bottom: 10px !important;
        width: 120px !important;
    }
   
   }
   .teacher-card-detail__name{
    color: $black;
    font-size: 17px;
    margin-bottom: 15px;
    @include _575-block{
        font-size: 13px;
        margin-bottom: 10px;
    }
   }
   .teacher-card-detail__price-of,
   .teacher-card-detail__price-on{
    color: #1C3554;
    @include _575-block{
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 5px;
    }
   }
}
